.columns.is-multiline.gallery
  - album.photos.each do |photo|
    .column.is-half-tablet.is-one-third-desktop.is-one-quarter-widescreen
      %figure.image{ 'data-src': photo.link }
        = image_tag photo.link(:large_thumbnail), class: 'is-rounded'
