%footer.footer
  .container
    .content.has-text-centered
      %p
        All photos are shared under the
        = link_to "CC BY-NC-SA 4.0",
          "https://creativecommons.org/licenses/by-nc-sa/4.0/",
          target: "_blank",
          rel: "noopener noreferrer license"
        licence.
        = mail_to "jamie@schembri.me", "Contact me"
        for other use.
