%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %title= current_page.data.title || "Jamie's photos"
  = stylesheet_link_tag "main.bundle"
  = javascript_include_tag "main.bundle"

