.container
  .navbar
    .navbar-brand
      %a.navbar-item{ href: '/' }
        .figure.image.is-round
          %img{ src: "https://www.gravatar.com/avatar/9b23a5d307c81b3556e7018c9b07b38a?s=56" }
    .navbar-menu
      .navbar-start
        = link_to "About", "about", class: 'navbar-item'
